/* CSS Document */


*.clear{ clear:both }

.underline, .underline:hover{ text-decoration:underline }

/************************************************/
/************* TAGS *************************/
/**********************************************/
astk{ color:#F00; font-weight:bold }

/************************************************/
/************* PADDING *************************/
/**********************************************/

.text-color-yellow{
    color: #e2e301;
}

.bg-color-light-black{
    background-color: #1a1a1a;
}

.text-color-orange{
    color: #ff8f00;
}

sup {
    top: -0.73em;
    font-size: 50%;
}

.p-0{padding:0}
.p-1{padding:1px}
.p-2{padding:2px}
.p-3{padding:3px}
.p-4{padding:4px}
.p-5{padding:5px}
.p-7{padding:7px}
.p-8{padding:8px}
.p-10{padding:10px}
.p-11{padding:11px}
.p-12{padding:12px}
.p-13{padding:13px}
.p-14{padding:14px}
.p-15{padding:15px}
.p-20{padding:20px}
.p-25{padding:25px}
.p-30{padding:30px}
.p-40{padding:40px}
.p-50{padding:40px}
.p-b-0{padding-bottom:0px}
.p-b-2{padding-bottom:2px}
.p-b-3{padding-bottom:3px}
.p-b-4{padding-bottom:4px}
.p-b-5{padding-bottom:5px}
.p-b-8{padding-bottom:8px}
.p-b-10{padding-bottom:10px}
.p-b-15{padding-bottom:15px}
.p-b-20{padding-bottom:20px}
.p-b-25{padding-bottom:25px}
.p-b-30{padding-bottom:30px}
.p-b-35{padding-bottom:35px}
.p-b-40{padding-bottom:40px}
.p-b-45{padding-bottom:45px}
.p-b-50{padding-bottom:50px}
.p-r-0{padding-right:0px}
.p-r-2{padding-right:2px}
.p-r-3{padding-right:3px}
.p-r-4{padding-right:4px}
.p-r-5{padding-right:5px}
.p-r-6{padding-right:6px}
.p-r-8{padding-right:8px}
.p-r-10{padding-right:10px}
.p-r-15{padding-right:15px}
.p-r-20{padding-right:20px}
.p-r-25{padding-right:25px}
.p-r-30{padding-right:30px}
.p-r-35{padding-right:35px}
.p-r-40{padding-right:40px}
.p-r-45{padding-right:45px}
.p-r-50{padding-right:50px}
.p-l-0{padding-left:0px}
.p-l-2{padding-left:2px}
.p-l-3{padding-left:3px}
.p-l-4{padding-left:4px}
.p-l-5{padding-left:5px}
.p-l-6{padding-left:6px}
.p-l-8{padding-left:8px}
.p-l-10{padding-left:10px}
.p-l-15{padding-left:15px}
.p-l-20{padding-left:20px}
.p-l-25{padding-left:25px}
.p-l-30{padding-left:30px}
.p-l-35{padding-left:35px}
.p-l-40{padding-left:40px}
.p-l-45{padding-left:45px}
.p-l-50{padding-left:50px}
.p-l-60{padding-left:60px}
.p-l-70{padding-left:70px}
.p-t-0{padding-top:0px}
.p-t-2{padding-top:2px}
.p-t-3{padding-top:3px}
.p-t-4{padding-top:4px}
.p-t-5{padding-top:5px}
.p-t-7{padding-top:7px}
.p-t-8{padding-top:8px}
.p-t-10{padding-top:10px}
.p-t-15{padding-top:15px}
.p-t-20{padding-top:20px}
.p-t-25{padding-top:25px}
.p-t-30{padding-top:30px}
.p-t-35{padding-top:35px}
.p-t-40{padding-top:40px}
.p-t-45{padding-top:45px}
.p-t-50{padding-top:50px}
.p-r-l-0{padding-right:0px; padding-left:0px; }
.p-r-l-2{padding-right:2px; padding-left:2px; }
.p-r-l-3{padding-right:3px; padding-left:3px; }
.p-r-l-4{padding-right:4px; padding-left:4px; }
.p-r-l-5{padding-right:5px; padding-left:5px; }
.p-r-l-8{padding-right:8px; padding-left:8px; }
.p-r-l-10{padding-right:10px; padding-left:10px;}
.p-r-l-15{padding-right:15px; padding-left:15px; }
.p-r-l-20{padding-right:20px; padding-left:20px;}
.p-r-l-25{padding-right:25px; padding-left:25px;}
.p-r-l-30{padding-right:30px; padding-left:30px;}
.p-r-l-35{padding-right:35px; padding-left:35px;}
.p-r-l-40{padding-right:40px; padding-left:40px;}
.p-r-l-45{padding-right:45px; padding-left:45px;}
.p-r-l-50{padding-right:50px; padding-left:50px;}
.p-t-b-0{padding-top:0px; padding-bottom:0px; }
.p-t-b-2{padding-top:2px; padding-bottom:2px; }
.p-t-b-3{padding-top:3px; padding-bottom:3px; }
.p-t-b-4{padding-top:4px; padding-bottom:4px; }
.p-t-b-5{padding-top:5px; padding-bottom:5px; }
.p-t-b-6{padding-top:6px !important; padding-bottom:6px !important; }
.p-t-b-8{padding-top:8px; padding-bottom:8px; }
.p-t-b-10{padding-top:10px; padding-bottom:10px;}
.p-t-b-15{padding-top:15px; padding-bottom:15px; }
.p-t-b-20{padding-top:20px; padding-bottom:20px;}
.p-t-b-25{padding-top:25px; padding-bottom:25px;}
.p-t-b-30{padding-top:30px; padding-bottom:30px;}
.p-t-b-35{padding-top:35px; padding-bottom:35px;}
.p-t-b-40{padding-top:40px; padding-bottom:40px;}
.p-t-b-45{padding-top:45px; padding-bottom:45px;}
.p-t-b-50{padding-top:50px; padding-bottom:50px;}



/************************************************/
/************* PAD BOOTSTRAP GRID **************
/**********************************************/

.row.row-p-5 > .col-md-6{ padding:5px }
.row.row-p-6 > .col-md-6{ padding:6px }
.row.row-p-7 > .col-md-6{ padding:7px }
.row.row-p-8 > .col-md-6{ padding:8px }
.row.row-p-9 > .col-md-6{ padding:9px }
.row.row-p-10 > .col-md-6{ padding:10px }

/************************************************/
/************* MARGIN *************************/
/**********************************************/
.m-0{margin:0}
.m-1{margin:1px}
.m-2{margin:2px}
.m-3{margin:3px}
.m-4{margin:4px}
.m-5{margin:5px}
.m-7{margin:7px}
.m-8{margin:8px}
.m-10{margin:10px}
.m-15{margin:15px}
.m-20{margin:20px}
.m-25{margin:25px}
.m-30{margin:30px}
.m-40{margin:40px}
.m-b-0{margin-bottom:0px !important}
.m-b-2{margin-bottom:2px}
.m-b-3{margin-bottom:3px}
.m-b-4{margin-bottom:4px}
.m-b-5{margin-bottom:5px}
.m-b-8{margin-bottom:8px}
.m-b-10{margin-bottom:10px}
.m-b-15{margin-bottom:15px}
.m-b-20{margin-bottom:20px}
.m-b-25{margin-bottom:25px}
.m-b-30{margin-bottom:30px}
.m-b-35{margin-bottom:35px}
.m-b-40{margin-bottom:40px}
.m-b-45{margin-bottom:45px}
.m-b-50{margin-bottom:50px}
.m-r-0{margin-right:0px}
.m-r-2{margin-right:2px}
.m-r-3{margin-right:3px}
.m-r-4{margin-right:4px}
.m-r-5{margin-right:5px}
.m-r-8{margin-right:8px}
.m-r-10{margin-right:10px}
.m-r-15{margin-right:15px}
.m-r-20{margin-right:20px}
.m-r-25{margin-right:25px}
.m-r-30{margin-right:30px}
.m-r-35{margin-right:35px}
.m-r-40{margin-right:40px}
.m-r-45{margin-right:45px}
.m-r-50{margin-right:50px}
.m-l-0{margin-left:0px}
.m-l-2{margin-left:2px}
.m-l-3{margin-left:3px}
.m-l-4{margin-left:4px}
.m-l-5{margin-left:5px}
.m-l-8{margin-left:8px}
.m-l-10{margin-left:10px}
.m-l-15{margin-left:15px}
.m-l-20{margin-left:20px}
.m-l-25{margin-left:25px}
.m-l-30{margin-left:30px}
.m-l-35{margin-left:35px}
.m-l-40{margin-left:40px}
.m-l-45{margin-left:45px}
.m-l-50{margin-left:50px}
.m-t-0{margin-top:0px}
.m-t-2{margin-top:2px}
.m-t-3{margin-top:3px}
.m-t-4{margin-top:4px}
.m-t-5{margin-top:5px}
.m-t-8{margin-top:8px}
.m-t-10{margin-top:10px}
.m-t-15{margin-top:15px}
.m-t-20{margin-top:20px}
.m-t-25{margin-top:25px}
.m-t-30{margin-top:30px}
.m-t-35{margin-top:35px}
.m-t-40{margin-top:40px}
.m-t-45{margin-top:45px}
.m-t-50{margin-top:50px}
.m-r-l-0{margin-right:0px; margin-left:0px; }
.m-r-l-2{margin-right:2px; margin-left:2px; }
.m-r-l-3{margin-right:3px; margin-left:3px; }
.m-r-l-4{margin-right:4px; margin-left:4px; }
.m-r-l-5{margin-right:5px; margin-left:5px; }
.m-r-l-8{margin-right:8px; margin-left:8px; }
.m-r-l-10{margin-right:10px; margin-left:10px;}
.m-r-l-15{margin-right:15px; margin-left:15px; }
.m-r-l-20{margin-right:20px; margin-left:20px;}
.m-r-l-25{margin-right:25px; margin-left:25px;}
.m-r-l-30{margin-right:30px; margin-left:30px;}
.m-r-l-35{margin-right:35px; margin-left:35px;}
.m-r-l-40{margin-right:40px; margin-left:40px;}
.m-r-l-45{margin-right:45px; margin-left:45px;}
.m-r-l-50{margin-right:50px; margin-left:50px;}
.m-t-b-0{margin-top:0px; margin-bottom:0px; }
.m-t-b-2{margin-top:2px; margin-bottom:2px; }
.m-t-b-3{margin-top:3px; margin-bottom:3px; }
.m-t-b-4{margin-top:4px; margin-bottom:4px; }
.m-t-b-5{margin-top:5px; margin-bottom:5px; }
.m-t-b-8{margin-top:8px; margin-bottom:8px; }
.m-t-b-10{margin-top:10px; margin-bottom:10px;}
.m-t-b-15{margin-top:15px; margin-bottom:15px; }
.m-t-b-20{margin-top:20px; margin-bottom:20px;}
.m-t-b-25{margin-top:25px; margin-bottom:25px;}
.m-t-b-30{margin-top:30px; margin-bottom:30px;}
.m-t-b-35{margin-top:35px; margin-bottom:35px;}
.m-t-b-40{margin-top:40px; margin-bottom:40px;}
.m-t-b-45{margin-top:45px; margin-bottom:45px;}
.m-t-b-50{margin-top:50px; margin-bottom:50px;}


/************************************************/
/************* COLOR *************************/
/**********************************************/

.red{color:#F00} a.red{color:#F00}
.red-2{color:#C00} a.red-2{color:#C00}
.blue{color:#06C} a.blue{color:#06C}
.blue-2{color:#004D60} a.blue-2{color:#004D60}
.green{color:#093} a.green{color:#093}
.black{color:#000} a.black{color:#000}
.white{color:#FFF} a.white{color:#FFF}
.grey{color:#CCC} a.grey{color:#CCC}
.gray{color:#999} a.gray{color:#999}
.yellow{color:#FF0} a.yellow{color:#FF0}
.orange{color:#FF4000} a.orange{color:#FF4000}


/************************************************/
/************* BG COLOR *************************/
/**********************************************/

.bg-red{background-color:#F00;}
.bg-red-2{background-color:#C00}
.bg-blue{background-color:#06C}
.bg-green{background-color:#093}
.bg-black{background-color:#000}
.bg-white{background-color:#FFF}
.bg-grey{background-color:#CCC}
.bg-yellow{background-color:#FF0}
.bg-orange{background-color:#F90}

/************************************************/
/************* DIV FLOAT ******************/
/**********************************************/
.div-float-left{ float:left }
.div-float-right{ float:right }




/************************************************/
/************* FONT AND TEXT ******************/
/**********************************************/
.font-bold{font-weight:bold}
.font-normal{font-weight:normal}
.text-upper{text-transform:uppercase}
.text-lower{text-transform:lowercase}
.text-upper{text-transform:uppercase}
.text-cap{text-transform:capitalize}


/************************************************/
/************* TYPO *************************/
/**********************************************/
.display-none{display:none}
.display-block{ display:block }
.display-inline{ display:inline; float:left}
.cursor-pointer{cursor:pointer}



.align-left{ text-align:left}
.align-center{ text-align:center}
.valign-middle{ vertical-align:middle }
.valign-bottom{ vertical-align:bottom }
.valign-top{ vertical-align:top }
.align-center{ text-align:center}
.align-right{ text-align:right}
.float-left{ float:left }
.float-right{ float:right }




/************************************************/
/************* BORDER *************************/
/**********************************************/
.border{ border:solid 1px #DDD }
.border-bottom{ border-bottom:solid 1px #DDD }
.border-bottom-dotted{ border-bottom:dotted 1px #DDD }
.border-top{ border-top:solid 1px #DDD }
.border-top-dotted{ border-top:dotted 1px #DDD }
.border-top-bottom{ border-top:solid 1px #DDD; border-bottom:solid 1px #DDD }
.border-left{ border-left:solid 1px #DDD }
.border-left-dotted{ border-left:dotted 1px #DDD }
.border-right{ border-right:solid 1px #DDD }
.border-right-dotted{ border-right:dotted 1px #DDD }

.f-tahoma{ font-family:Tahoma }
.f-verdana{ font-family:verdana }
.f-arial{ font-family:arial }
.f-myriad{ font-family:myriad_web_proregular }
.f-pt-sans { font-family:PT Sans }
.f-ropa { font-family:RopaSansRegular; }

/************************************************/
/************* FONT SIZE *************************/
/**********************************************/
.s-8{ font-size:8px }
.s-9{ font-size:9px }
.s-10{ font-size:10px }
.s-11{ font-size:11px }
.s-12{ font-size:12px }
.s-13{ font-size:13px }
.s-14{ font-size:14px }
.s-15{ font-size:15px }
.s-16{ font-size:16px }
.s-17{ font-size:17px }
.s-18{ font-size:18px }
.s-19{ font-size:19px }
.s-20{ font-size:20px }
.s-25{ font-size:25px }
.s-30{ font-size:30px }


/************************************************/
/************* TABLE *************************/
/**********************************************/
.table{ border:solid 1px #DDDDDD; padding:0; margin:0; font-size:12px}
.table td, th{ padding:6px; }
.table th{ border-right:solid 1px #DDDDDD; border-bottom:solid 1px #DDDDDD; color:#000; background-color:#F7F7F7; text-transform:uppercase; font-size:11px  }
.table th.center{text-align:center}
.table th.left{text-align:left}
.table th.right{text-align:right}
.table tr th:last-child{ border-right:none; }
.table td{ border-right:solid 1px #DDDDDD; border-bottom:solid 1px #DDDDDD }
.table td.center{text-align:center}
.table td.left{text-align:left}
.table td.right{text-align:right}
.table tr td:last-child{ border-right:none; }
.table tr:last-child td{ border-bottom:none; }  
.table tr:hover{ background-color:#E8F3FF }
.table tr.no-bg{background-color:#FFF}
.table tr.bg{background-color:#E8F3FF}
.table tr.cell-bg{background-color:#F7F7F7}
.table tr.cell-bg:hover{background-color:#F7F7F7}
.table tr.v-middle > td { vertical-align:middle}
.table  tbody > tr > td.no-border-right{ border-right:hidden }
.table tr.border-bottom-dotted > td { border-bottom:dotted 1px #DDDDDD; }
.table tr.border-bottom > td { border-bottom:solid 1px #DDDDDD; }


.table-format td, th{ padding:8px; }
.table-format th{ text-transform:uppercase; }
.table-format tr.border-bottom-dotted > td { border-bottom:dotted 1px #DDDDDD; }
.table-format tr.border-bottom > td { border-bottom:solid 1px #DDDDDD; }


.table-set{ border:solid 1px #DDDDDD; padding:0; margin:0}
.table-set td, th{ padding:4px; }
.table-set th{ border-right:solid 1px #DDDDDD; border-bottom:solid 1px #DDDDDD; color:#000; background-color:#F7F7F7; text-transform:uppercase; font-size:11px  }
.table-set th.center{text-align:center}
.table-set th.left{text-align:left}
.table-set th.right{text-align:right}
.table-set tr th:last-child{ border-right:none; }
.table-set td{ border-right:solid 1px #DDDDDD; border-bottom:solid 1px #DDDDDD }
.table-set tr td:last-child{ border-right:none; }
.table-set tr:last-child td{ border-bottom:none; }  
.table-set tr:hover{ background-color:#E8F3FF }
.table-set tr.no-bg{background-color:#FFF}
.table-set tr.bg{background-color:#E8F3FF}
.table-set tr.cell-bg{background-color:#F7F7F7}
.table-set tr.cell-bg:hover{background-color:#F7F7F7}
.table-set tr.v-middle > td { vertical-align:middle}
.table-set > tbody > tr > td.no-border-right{ border-right:none }


.table-clear{ border-top:none;}
.table-clear td, th{ padding:6px; }
.table-clear th{ border:none; background-color:none; text-transform:none;  }
.table-clear td{ border:none; }
.table-clear tr td:last-child{ border:none; }
.table-clear tr:last-child td{ border:none; }  
.table-clear tr:hover{ background-color:transparent }
.table-clear tfoot > tr > td { border:none }
.table-clear tbody > tr > td { border:none }

.table-clear tr.border-bottom-dotted > td{ border-bottom:dotted 1px #DDD }
.table-clear tr.border-top-dotted > td{ border-top:dotted 1px #DDD }

.table-form {  }
.table-form td, th{ padding:6px; }
.table-form  tfoot > tr > td.no-border-bottom{ border-bottom:none }

.table-clear-border{ border:none; border-top:none }
.table-clear-border td, th{ border:none; }
.table-clear-border tr:hover{ background-color:transparent } 


.table, .table-form td.p-0{padding:0}
.table, .table-form td.p-1{padding:1px}
.table, .table-form td.p-2{padding:2px}
.table, .table-form td.p-3{padding:3px}
.table, .table-form td.p-4{padding:4px}
.table, .table-form td.p-5{padding:5px}
.table, .table-form td.p-7{padding:7px}
.table, .table-form td.p-8{padding:8px}
.table, .table-form td.p-10{padding:10px}
.table, .table-form td.p-11{padding:11px}
.table, .table-form td.p-12{padding:12px}
.table, .table-form td.p-13{padding:13px}
.table, .table-form td.p-14{padding:14px}
.table, .table-form td.p-15{padding:15px}
.table, .table-form td.p-20{padding:20px}
.table, .table-form td.p-25{padding:25px}
.table, .table-form td.p-30{padding:30px}
.table, .table-form td.p-40{padding:40px}
.table, .table-form td.p-50{padding:50px}
.table, .table-form td.p-b-0{padding-bottom:0px}
.table, .table-form td.p-b-2{padding-bottom:2px}
.table, .table-form td.p-b-3{padding-bottom:3px}
.table, .table-form td.p-b-4{padding-bottom:4px}
.table, .table-form td.p-b-5{padding-bottom:5px}
.table, .table-form td.p-b-8{padding-bottom:8px}
.table, .table-form td.p-b-10{padding-bottom:10px}
.table, .table-form td.p-b-15{padding-bottom:15px}
.table, .table-form td.p-b-20{padding-bottom:20px}
.table, .table-form td.p-b-25{padding-bottom:25px}
.table, .table-form td.p-b-30{padding-bottom:30px}
.table, .table-form td.p-b-35{padding-bottom:35px}
.table, .table-form td.p-b-40{padding-bottom:40px}
.table, .table-form td.p-b-45{padding-bottom:45px}
.table, .table-form td.p-b-50{padding-bottom:50px}
.table, .table-form td.p-r-0{padding-right:0px}
.table, .table-form td.p-r-2{padding-right:2px}
.table, .table-form td.p-r-3{padding-right:3px}
.table, .table-form td.p-r-4{padding-right:4px}
.table, .table-form td.p-r-5{padding-right:5px}
.table, .table-form td.p-r-8{padding-right:8px}
.table, .table-form td.p-r-10{padding-right:10px}
.table, .table-form td.p-r-15{padding-right:15px}
.table, .table-form td.p-r-20{padding-right:20px}
.table, .table-form td.p-r-25{padding-right:25px}
.table, .table-form td.p-r-30{padding-right:30px}
.table, .table-form td.p-r-35{padding-right:35px}
.table, .table-form td.p-r-40{padding-right:40px}
.table, .table-form td.p-r-45{padding-right:45px}
.table, .table-form td.p-r-50{padding-right:50px}
.table, .table-form td.p-l-0{padding-left:0px}
.table, .table-form td.p-l-2{padding-left:2px}
.table, .table-form td.p-l-3{padding-left:3px}
.table, .table-form td.p-l-4{padding-left:4px}
.table, .table-form td.p-l-5{padding-left:5px}
.table, .table-form td.p-l-8{padding-left:8px}
.table, .table-form td.p-l-10{padding-left:10px}
.table, .table-form td.p-l-15{padding-left:15px}
.table, .table-form td.p-l-20{padding-left:20px}
.table, .table-form td.p-l-25{padding-left:25px}
.table, .table-form td.p-l-30{padding-left:30px}
.table, .table-form td.p-l-35{padding-left:35px}
.table, .table-form td.p-l-40{padding-left:40px}
.table, .table-form td.p-l-45{padding-left:45px}
.table, .table-form td.p-l-50{padding-left:50px}
.table, .table-form td.p-t-0{padding-top:0px}
.table, .table-form td.p-t-2{padding-top:2px}
.table, .table-form td.p-t-3{padding-top:3px}
.table, .table-form td.p-t-4{padding-top:4px}
.table, .table-form td.p-t-5{padding-top:5px}
.table, .table-form td.p-t-8{padding-top:8px}
.table, .table-form td.p-t-10{padding-top:10px}
.table, .table-form td.p-t-15{padding-top:15px}
.table, .table-form td.p-t-20{padding-top:20px}
.table, .table-form td.p-t-25{padding-top:25px}
.table, .table-form td.p-t-30{padding-top:30px}
.table, .table-form td.p-t-35{padding-top:35px}
.table, .table-form td.p-t-40{padding-top:40px}
.table, .table-form td.p-t-45{padding-top:45px}
.table, .table-form td.p-t-50{padding-top:50px}
.table, .table-form td.p-r-l-0{padding-right:0px; padding-left:0px; }
.table, .table-form td.p-r-l-1{padding-right:1px; padding-left:1px; }
.table, .table-form td.p-r-l-2{padding-right:2px; padding-left:2px; }
.table, .table-form td.p-r-l-3{padding-right:3px; padding-left:3px; }
.table, .table-form td.p-r-l-4{padding-right:4px; padding-left:4px; }
.table, .table-form td.p-r-l-5{padding-right:5px; padding-left:5px; }
.table, .table-form td.p-r-l-8{padding-right:8px; padding-left:8px; }
.table, .table-form td.p-r-l-10{padding-right:10px; padding-left:10px;}
.table, .table-form td.p-r-l-15{padding-right:15px; padding-left:15px; }
.table, .table-form td.p-r-l-20{padding-right:20px; padding-left:20px;}
.table, .table-form td.p-r-l-25{padding-right:25px; padding-left:25px;}
.table, .table-form td.p-r-l-30{padding-right:30px; padding-left:30px;}
.table, .table-form td.p-r-l-35{padding-right:35px; padding-left:35px;}
.table, .table-form td.p-r-l-40{padding-right:40px; padding-left:40px;}
.table, .table-form td.p-r-l-45{padding-right:45px; padding-left:45px;}
.table, .table-form td.p-r-l-50{padding-right:50px; padding-left:50px;}
.table, .table-form td.p-t-b-0{padding-top:0px; padding-bottom:0px; }
.table, .table-form td.p-t-b-2{padding-top:2px; padding-bottom:2px; }
.table, .table-form td.p-t-b-3{padding-top:3px; padding-bottom:3px; }
.table, .table-form td.p-t-b-4{padding-top:4px; padding-bottom:4px; }
.table, .table-form td.p-t-b-5{padding-top:5px; padding-bottom:5px; }
.table, .table-form td.p-t-b-8{padding-top:8px; padding-bottom:8px; }
.table, .table-form td.p-t-b-10{padding-top:10px; padding-bottom:10px;}
.table, .table-form td.p-t-b-15{padding-top:15px; padding-bottom:15px; }
.table, .table-form td.p-t-b-20{padding-top:20px; padding-bottom:20px;}
.table, .table-form td.p-t-b-25{padding-top:25px; padding-bottom:25px;}
.table, .table-form td.p-t-b-30{padding-top:30px; padding-bottom:30px;}
.table, .table-form td.p-t-b-35{padding-top:35px; padding-bottom:35px;}
.table, .table-form td.p-t-b-40{padding-top:40px; padding-bottom:40px;}
.table, .table-form td.p-t-b-45{padding-top:45px; padding-bottom:45px;}
.table, .table-form td.p-t-b-50{padding-top:50px; padding-bottom:50px;}





.table td.p-0{padding:0}
.table td.p-1{padding:1px}
.table td.p-2{padding:2px}
.table td.p-3{padding:3px}
.table td.p-4{padding:4px}
.table td.p-5{padding:5px}
.table td.p-7{padding:7px}
.table td.p-8{padding:8px}
.table td.p-10{padding:10px}
.table td.p-11{padding:11px}
.table td.p-12{padding:12px}
.table td.p-13{padding:13px}
.table td.p-14{padding:14px}
.table td.p-15{padding:15px}
.table td.p-20{padding:20px}
.table td.p-25{padding:25px}
.table td.p-30{padding:30px}
.table td.p-40{padding:40px}
.table td.p-50{padding:50px}
.table td.p-b-0{padding-bottom:0px}
.table td.p-b-2{padding-bottom:2px}
.table td.p-b-3{padding-bottom:3px}
.table td.p-b-4{padding-bottom:4px}
.table td.p-b-5{padding-bottom:5px}
.table td.p-b-8{padding-bottom:8px}
.table td.p-b-10{padding-bottom:10px}
.table td.p-b-15{padding-bottom:15px}
.table td.p-b-20{padding-bottom:20px}
.table td.p-b-25{padding-bottom:25px}
.table td.p-b-30{padding-bottom:30px}
.table td.p-b-35{padding-bottom:35px}
.table td.p-b-40{padding-bottom:40px}
.table td.p-b-45{padding-bottom:45px}
.table td.p-b-50{padding-bottom:50px}
.table td.p-r-0{padding-right:0px}
.table td.p-r-2{padding-right:2px}
.table td.p-r-3{padding-right:3px}
.table td.p-r-4{padding-right:4px}
.table td.p-r-5{padding-right:5px}
.table td.p-r-8{padding-right:8px}
.table td.p-r-10{padding-right:10px}
.table td.p-r-15{padding-right:15px}
.table td.p-r-20{padding-right:20px}
.table td.p-r-25{padding-right:25px}
.table td.p-r-30{padding-right:30px}
.table td.p-r-35{padding-right:35px}
.table td.p-r-40{padding-right:40px}
.table td.p-r-45{padding-right:45px}
.table td.p-r-50{padding-right:50px}
.table td.p-l-0{padding-left:0px}
.table td.p-l-2{padding-left:2px}
.table td.p-l-3{padding-left:3px}
.table td.p-l-4{padding-left:4px}
.table td.p-l-5{padding-left:5px}
.table td.p-l-8{padding-left:8px}
.table td.p-l-10{padding-left:10px}
.table td.p-l-15{padding-left:15px}
.table td.p-l-20{padding-left:20px}
.table td.p-l-25{padding-left:25px}
.table td.p-l-30{padding-left:30px}
.table td.p-l-35{padding-left:35px}
.table td.p-l-40{padding-left:40px}
.table td.p-l-45{padding-left:45px}
.table td.p-l-50{padding-left:50px}
.table td.p-t-0{padding-top:0px}
.table td.p-t-2{padding-top:2px}
.table td.p-t-3{padding-top:3px}
.table td.p-t-4{padding-top:4px}
.table td.p-t-5{padding-top:5px}
.table td.p-t-8{padding-top:8px}
.table td.p-t-10{padding-top:10px}
.table td.p-t-15{padding-top:15px}
.table td.p-t-20{padding-top:20px}
.table td.p-t-25{padding-top:25px}
.table td.p-t-30{padding-top:30px}
.table td.p-t-35{padding-top:35px}
.table td.p-t-40{padding-top:40px}
.table td.p-t-45{padding-top:45px}
.table td.p-t-50{padding-top:50px}
.table td.p-r-l-0{padding-right:0px; padding-left:0px; }
.table td.p-r-l-1{padding-right:1px; padding-left:1px; }
.table td.p-r-l-2{padding-right:2px; padding-left:2px; }
.table td.p-r-l-3{padding-right:3px; padding-left:3px; }
.table td.p-r-l-4{padding-right:4px; padding-left:4px; }
.table td.p-r-l-5{padding-right:5px; padding-left:5px; }
.table td.p-r-l-8{padding-right:8px; padding-left:8px; }
.table td.p-r-l-10{padding-right:10px; padding-left:10px;}
.table td.p-r-l-15{padding-right:15px; padding-left:15px; }
.table td.p-r-l-20{padding-right:20px; padding-left:20px;}
.table td.p-r-l-25{padding-right:25px; padding-left:25px;}
.table td.p-r-l-30{padding-right:30px; padding-left:30px;}
.table td.p-r-l-35{padding-right:35px; padding-left:35px;}
.table td.p-r-l-40{padding-right:40px; padding-left:40px;}
.table td.p-r-l-45{padding-right:45px; padding-left:45px;}
.table td.p-r-l-50{padding-right:50px; padding-left:50px;}
.table td.p-t-b-0{padding-top:0px; padding-bottom:0px; }
.table td.p-t-b-2{padding-top:2px; padding-bottom:2px; }
.table td.p-t-b-3{padding-top:3px; padding-bottom:3px; }
.table td.p-t-b-4{padding-top:4px; padding-bottom:4px; }
.table td.p-t-b-5{padding-top:5px; padding-bottom:5px; }
.table td.p-t-b-8{padding-top:8px; padding-bottom:8px; }
.table td.p-t-b-10{padding-top:10px; padding-bottom:10px;}
.table td.p-t-b-15{padding-top:15px; padding-bottom:15px; }
.table td.p-t-b-20{padding-top:20px; padding-bottom:20px;}
.table td.p-t-b-25{padding-top:25px; padding-bottom:25px;}
.table td.p-t-b-30{padding-top:30px; padding-bottom:30px;}
.table td.p-t-b-35{padding-top:35px; padding-bottom:35px;}
.table td.p-t-b-40{padding-top:40px; padding-bottom:40px;}
.table td.p-t-b-45{padding-top:45px; padding-bottom:45px;}
.table td.p-t-b-50{padding-top:50px; padding-bottom:50px;}


/************************************************/
/************* LINE HEIGHT *************************/
/**********************************************/
.lh-2{ line-height:2px }
.lh-4{ line-height:4px }
.lh-6{ line-height:6px }
.lh-8{ line-height:8px }
.lh-10{ line-height:10px }
.lh-15{ line-height:15px }
.lh-16{ line-height:16px }
.lh-17{ line-height:17px }
.lh-18{ line-height:18px }
.lh-19{ line-height:19px }
.lh-20{ line-height:20px }
.lh-25{ line-height:25px }
.lh-30{ line-height:30px }
.lh-35{ line-height:35px }
.lh-40{ line-height:40px }
.lh-45{ line-height:45px }
.lh-50{ line-height:50px }

.line-height-0-9{
    line-height: 0.9;
}

/************************************************/
/************* WIDTH *************************/
/**********************************************/
.w-50{ width:50px }
.w-60{ width:60px }
.w-70{ width:70px }
.w-80{ width:80px }
.w-90{ width:90px }
.w-100{ width:100px }
.w-120{ width:120px }
.w-130{ width:130px }
.w-150{ width:150px }
.w-160{ width:160px }
.w-170{ width:170px }
.w-180{ width:180px }
.w-180{ width:180px }
.w-200{ width:200px }
.w-250{ width:250px }
.w-300{ width:300px }
.w-350{ width:350px }
.w-400{ width:400px }
.w-500{ width:500px }
.w-550{ width:500px }
.w-600{ width:600px }
.w-700{ width:700px }
.w-800{ width:800px }
.w-900{ width:900px }
.w-1000{ width:1000px }

.w-20-p{ width:20% }
.w-30-p{ width:30% }
.w-33-p{ width:33.33333% }
.w-40-p{ width:40% }
.w-50-p{ width:50% }
.w-60-p{ width:60% }
.w-70-p{ width:70% }
.w-80-p{ width:80% }
.w-90-p{ width:90% }
.w-100-p{ width:100% }

.stretch{float:left; width:100%}
.row-box{ clear:both }

/************************************************/
/************* ACTIONS *************************/
/**********************************************/


/************************************************/
/************* DROP DOWN *************************/
/**********************************************/

.pds-drop{ float:left; margin:0; padding:0 }
.pds-drop > ul {list-style:inside none; padding:0; margin:0;} 
.pds-drop > ul > li {list-style:inside none; padding:3px 15px 3px 3px; margin:0; float:left; display:block; position:relative; cursor:pointer; background:url(../icon/drop.gif) no-repeat right 12px} 
.pds-drop ul li.has-sub:hover {top:0px; z-index:999;} 
.pds-drop ul li.has-sub:hover > ul, .pds-drop ul li.has-sub:hover > div{display:block;} 

.pds-drop ul li > ul, .pds-drop ul li > div{ display:none; width:auto; position:absolute; top:25px; left:-3px; padding:0; background:#FFF;  z-index:999; } 
.pds-drop ul li > ul{ border:solid 1px #DDD;} 
.pds-drop ul li > ul li{display:block; list-style:inside none; padding:3px 6px; margin:0; position:relative; cursor:pointer; width:150px}
.pds-drop ul li > ul li:hover{ background-color:#DDD } 




#inline-add-new{ float:left; clear:both; width:100%; display:none; overflow:visible; border-bottom:solid 1px #CCC; padding:20px 0 700px 0; margin-bottom:100px }



.list-block ul{ width:100%; padding:0; margin:0 }
.list-block ul li{ list-style:none; display:inline;}
.list-block ul li a{ display:inline-block;}






