@font-face {
    font-family: 'dinbusterregular';
    src: url("fonts/dinbuster-webfont.eot");
    src: url("fonts/dinbuster-webfont.eot?#iefix") format('embedded-opentype'),
    url("fonts/dinbuster-webfont.woff2") format('woff2'),
    url("fonts/dinbuster-webfont.woff") format('woff'),
    url("fonts/dinbuster-webfont.ttf") format('truetype'),
    url("fonts/dinbuster-webfont.svg#dinbusterregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextRoundedLTPro-Regular';
    src: url("fonts/DINNextRoundedLTPro-Regular_gdi.eot");
    src: url("fonts/DINNextRoundedLTPro-Regular_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/DINNextRoundedLTPro-Regular_gdi.woff") format('woff'),
    url("fonts/DINNextRoundedLTPro-Regular_gdi.ttf") format('truetype'),
    url("fonts/DINNextRoundedLTPro-Regular_gdi.svg#DINNextRoundedLTPro-Regular") format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans_gdi.eot");
    src: url("fonts/OpenSans_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/OpenSans_gdi.woff") format('woff'),
    url("fonts/OpenSans_gdi.ttf") format('truetype'),
    url("fonts/OpenSans_gdi.svg#OpenSans") format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url("fonts/OpenSans-Italic_gdi.eot");
    src: url("fonts/OpenSans-Italic_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/OpenSans-Italic_gdi.woff") format('woff'),
    url("fonts/OpenSans-Italic_gdi.ttf") format('truetype'),
    url("fonts/OpenSans-Italic_gdi.svg#OpenSans-Italic") format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("fonts/OpenSans-Bold_gdi.eot");
    src: url("fonts/OpenSans-Bold_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/OpenSans-Bold_gdi.woff") format('woff'),
    url("fonts/OpenSans-Bold_gdi.ttf") format('truetype'),
    url("fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold") format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

a {
    color: #FFF;
}

a:hover, a:active {
    color: #e2e300;
    text-decoration: none;
}

a.underline {
    text-decoration: underline;
}

a.over-underline:hover {
    text-decoration: underline;
}

.white, a.white {
    color: #fff;
}

.blue, a.blue {
    color: #00c0f3;
}

a.blue:hover {
    color: #0084a6;
}

.form-control {
    display: block;
    margin: 0 auto 20px 0;
    width: 100%;
    height: 50px;
    font-family: 'DINNextRoundedLTPro-Regular';
    font-size: 16px;
    color: #767676;
    border-radius: 5px;
    padding: 5px 0 0 12px;
    border-style: solid;
    border-color: #fff;
}

.btn.theme {
    border-radius: 3px;
    font-family: 'dinbusterregular';
    font-size: 30px;
    background-color: #00c0f3;
    border: 0;
}

.btn.theme:hover {
    background-color: #0084a6;
}

.font-size-15, p.font-size-15 {
    font-size: 15px;
}

.font-size-30, p.font-size-30 {
    font-size: 30px;
}

.font-size-35, p.font-size-35 {
    font-size: 35px;
}

.font-size-40, p.font-size-40 {
    font-size: 40px;
}

.text-bold {
    font-weight: bold;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.text-format {
    line-height: 2;
}

h1, h2, h3 {
    font-family: "dinbusterregular", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h4, h5, h6 {
    font-family: "dinbusterregular", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 5.1em;
    padding: 0;
    margin: 0 0 25px 0;
}

h2 {
    font-size: 40px;
    padding: 0;
    margin: 0 0 15px 0;
}

h2.large {
    font-size: 3.6em;
}

.s-11 {
    font-size: 11px;
}

ul.formatted li {
    padding-bottom: 10px;
    font-size: 14px;
}

.content-block {
    border-top: dotted 5px #FFF;
    padding: 30px 0;
    margin-bottom: 50px;
}

.content-block.text {
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    line-height: 2.5;
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: "OpenSans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}

.fixed-scroll.hide {
    display: none;
    transition: .4s linear;
}

.scroll-shrink.shrink h4 {
    font-size: 23px;
    margin: 5px 0 0 0;
}

.location-search.remove-border {
    border-left: 0;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 25;
    border-bottom: solid 7px black;
    /*
    background: url("../images/bg.jpg") no-repeat center center;
    background-size: 100%;
    */
}

.container {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    width: 1000px;
    margin: 0 auto;
}

.container.more {
    width: 80%;
}

.container.less {
    width: 850px;
}

.header-shadow-box {
    background-color: rgba(0, 0, 0, .7);
}

.header .logo {
    position: absolute;
    padding: 15px 0 10px 0
}

.top-tab {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-tab a {
    display: inline-block;
    text-transform: uppercase;
    margin: 0 12px;
    font-size: 1.07em;
    letter-spacing: 0.02px;
    font-family: 'DINNextRoundedLTPro-Regular';
}

.top-tab a:last-child {
    margin-right: 0;
}

.top-tab a:first-child {
    margin-left: 0;
}

ul.menu {
    padding: 0 0 20px 0;
    text-align: right;
    margin-bottom: 0;
}

ul.menu li {
    display: inline-block;
    list-style: none;
}

ul.menu li a {
    padding: 0 20px;
    font-size: 1.79em;
    font-family: 'dinbusterregular';
}

ul.menu > li:last-child a {
    padding-right: 0;
}

ul.menu > li:first-child a {
    padding-left: 0;
}

.header-info {
    background-color: #000;
    padding: 10px 0;
}

.notice {
    background-color: #dc0785;
    text-align: center;
    padding: 10px 0;
}

.notice h2 {
    margin-bottom: 0;
    font-size: 1.5em
}

.menu-logo-text h4 {
    font-size: 30px;
}

.wrapper-full {
    position: relative;
    width: 100%;
}

.wrapper-less {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.padded {
    padding-bottom: 50px;
    padding-top: 50px;
}

.margined {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    padding: 40px 0;
    border-top: solid 3px #1e1e1e;
}

ul.list {
    padding: 0;
    margin: 0;
}

ul.list li {
    display: inline-block;
    list-style: none;
}

ul.list li a {
    display: block;
    padding: 0 8px;
    font-family: 'dinbusterregular';
    font-size: 1.15em;
}

ul.list li:first-child a {
    padding-left: 0;
}

ul.list li:last-child a {
    padding-right: 0;
}

.search .form-control {
    height: 28px;
    font-size: 12px;
    line-height: 3;
    padding: 0 8px;
    box-shadow: none;
    border: 0;
}

.search .btn {
    background-color: #00c0f3;
    color: #FFF;
    border: 0;
    box-shadow: none;
    height: 28px;
}

.search .form-control:focus, .search .btn:focus, .search .btn:hover,
.search input[type=button] {
    border: 0;
    outline: 0px none;
    box-shadow: none;
}

.location-search {
    border-left: solid 1px rgba(225, 225, 225, .3);
}

.ico-styled i {
    font-size: 1.4em;
    color: #00c0f3;
    position: relative;
    top: 2.3px;
    margin-right: 4px;
}

.info-list {
    padding: 5px 0;
}

@media only screen and (max-width: 1024px) {
    /*
    .info-list{
        float: right;
        font-size: 12px;
    }

    .info-list .ico-styled i{
        font-size: 1.2em;
        margin-right: 3px;
        top: 1.2px;
    }

    .info-list .ico-styled{
        width: auto;
    }
    */
    .info-list, .header-info .contact {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .fixed-scroll {
        display: none !important;
    }

    .info-list {
        float: right;
        font-size: 12px;
    }

    .info-list .ico-styled i {
        font-size: 1.2em;
        margin-right: 3px;
        top: 1.2px;
    }

    .info-list .ico-styled {
        width: auto;
    }
}

.icon-list i {
    font-size: 2.5em;
    margin-right: 7px;
}

.banner-notice{
    position: absolute;
    width: 220px;
    top: 330px;
    left: 0;
    height: 400px;
    background-color: rgba(0, 0, 0, .7);
    z-index: 9;
    text-align: center;
    font-family: "dinbusterregular", Helvetica, Arial, sans-serif;
    padding: 10px 40px 0
}

.banner-notice ul{
    padding: 0;
    margin: 0;
}

.banner-notice ul li{
    list-style: none;
    display: block;
    font-size: 2.4em;
    font-weight: 800;
    padding: 8px 0;
    border-bottom: dotted 3px rgba(255, 255, 255, 0.5);
}

.banner-notice ul li:last-child{
    border: none
}

.banner-notice i{
    font-size: 5em;
    display: block;
    margin: 15px 0;
    font-weight: 100
}

.banner {
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    padding: 50px;
}

.border-bottom {
    border-bottom: dotted 3px #fff;
}

.border-top {
    border-top: dotted 3px #fff;
}

.padded-top {
    padding-top: 50px;
}

.padded-bottom {
    padding-bottom: 50px;
}

.padded-min {
    padding-top: 20px;
    padding-bottom: 20px;
}

.padded-min-bottom {
    padding-bottom: 20px;
}

.padded-min-top {
    padding-top: 20px;
}

.banner h1 {
    font-size: 10em;
    font-family: 'dinbusterregular';
    margin-bottom: 0;
    font-weight: normal;
    letter-spacing: -1.2px;
    line-height: 0.9;
    text-transform: uppercase;
}

.banner h1.less {
    font-size: 3.5em;
    margin-bottom: 20px;
}

.banner h2 {
    font-size: 2.5em;
    letter-spacing: -0.3px;
    font-family: 'dinbusterregular';
    margin-top: 0;
    font-weight: normal;
    text-transform: uppercase;
}

.banner p {
    font-family: 'DINNextRoundedLTPro-Regular';
    margin: 0;
    font-size: 1.2em;
    letter-spacing: 0.5px;
    line-height: 1.7;
}

p.large {
    font-size: 35px;
    line-height: 1.3;
}

.banner > button {
    margin-top: 50px;
}

.content {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 370px;
}

.content.less {
    top: 330px;
}

.content.more {
    top: 450px;
}

.col-content {
    padding-top: 80px;
}

.img-box-out {
    position: relative;
    margin-top: -70px;
}

.img-box-out img {
    position: relative;
    left: 0;
}

.border-right-gray {
    border-right: dotted 3px #444;
}

.border-left-gray {
    border-left: dotted 3px #444;
}

.border-top-orange {
    border-top: dotted 3px #ff8f00;
}

.slide-hover {
    height: 290px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.slide-hover img {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.slide-hover h3 {
    margin-top: 10px;
}

.slide-hover a {
    display: block;
    position: absolute;
    z-index: 3;
    width: 100%;
    background-color: rgba(220, 7, 133, 0.75);
    top: 0;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    height: 50%;
    padding: 20px;
}

.slide-hover a:hover {
    text-decoration: none !important;
    height: 100%;
}

.slide-hover a:hover > button {
    display: block;
}

.slide-hover button.btn-info {
    background-color: transparent;
    border: solid 3px #fff;
    font-size: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: absolute;
    bottom: 20px;
    width: calc(100% - 40px);
    display: none;
}

.slide-hover button.btn-info:hover {
    background-color: transparent;
}


.instagram-post-block{
    padding: 30px 0;
    width: 95%;
    margin: 0 auto;
}

.instagram-post-block h3{
    margin-top: 0
}

.instagram-post-block ul{
    padding: 0;
    margin: 0;
}

.instagram-post-block ul li{
    list-style: none;
    float: left;
    border-radius: 5px;
    background-color: #333;
    height: 180px;
    width: calc(100% / 6 - 20px) !important;
    margin: 10px 20px 10px 0;
    overflow: hidden;
    cursor: pointer;
}

.instagram-post-block ul li img{
    width: 100%;
}














#slider {
    display: block;
    width: 300px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    background-color: #c69;

    img {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 200px;
    transition: all .5s ease-in-out;

        &:target {
            transition: all .5s ease-in-out;
        }

        &:not(:target), &:target ~ img#slide-4 {
            position: relative;
            opacity: 0;
        }

        &#slide-4 {
            position: absolute;
            opacity: 1;
        }
    }



}


#slider ul {
    position: absolute;
    top: 0;
    left: -2em;
    list-style: none;

li {
    width: 1.25em;
    height: 1.25em;
    font-family: monospace;
    font-size: 1.5em;
    border-radius: 50%;
    background: wheat;
    text-align: center;
    margin-top: .7em;

&:hover {
     background: #ece;
 }

a {
    text-decoration: none;
    color: #c69;
}
}
}





