


@font-face {
    font-family: 'dinbusterregular';
    src: url("fonts/dinbuster-webfont.eot");
    src: url("fonts/dinbuster-webfont.eot?#iefix") format('embedded-opentype'),
    url("fonts/dinbuster-webfont.woff2") format('woff2'),
    url("fonts/dinbuster-webfont.woff") format('woff'),
    url("fonts/dinbuster-webfont.ttf") format('truetype'),
    url("fonts/dinbuster-webfont.svg#dinbusterregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINNextRoundedLTPro-Regular';
    src: url("fonts/DINNextRoundedLTPro-Regular_gdi.eot");
    src: url("fonts/DINNextRoundedLTPro-Regular_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/DINNextRoundedLTPro-Regular_gdi.woff") format('woff'),
    url("fonts/DINNextRoundedLTPro-Regular_gdi.ttf") format('truetype'),
    url("fonts/DINNextRoundedLTPro-Regular_gdi.svg#DINNextRoundedLTPro-Regular") format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans_gdi.eot");
    src: url("fonts/OpenSans_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/OpenSans_gdi.woff") format('woff'),
    url("fonts/OpenSans_gdi.ttf") format('truetype'),
    url("fonts/OpenSans_gdi.svg#OpenSans") format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url("fonts/OpenSans-Italic_gdi.eot");
    src: url("fonts/OpenSans-Italic_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/OpenSans-Italic_gdi.woff") format('woff'),
    url("fonts/OpenSans-Italic_gdi.ttf") format('truetype'),
    url("fonts/OpenSans-Italic_gdi.svg#OpenSans-Italic") format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("fonts/OpenSans-Bold_gdi.eot");
    src: url("fonts/OpenSans-Bold_gdi.eot?#iefix") format('embedded-opentype'),
    url("fonts/OpenSans-Bold_gdi.woff") format('woff'),
    url("fonts/OpenSans-Bold_gdi.ttf") format('truetype'),
    url("fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold") format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}


a{
    color: #FFF;
}

a:hover, a:active{
    color: #e2e300;
    text-decoration: none;
}

a.underline{
    text-decoration: underline;
}

a.over-underline:hover{
    text-decoration: underline;
}

.white, a.white{
    color: #fff;
}

.blue, a.blue{
    color: #00c0f3;
}

a.blue:hover{
    color: #0084a6;
}


.btn.theme{
    border-radius: 3px;
    font-family: 'dinbusterregular';
    font-size: 30px;
    background-color: #00c0f3;
    border: 0;
}


.btn.theme:hover{
    background-color: #0084a6;
}


.font-size-15{
    font-size: 15px;
}

.text-bold{
    font-weight: bold;
}

.margin-bottom-25{
    margin-bottom: 25px;
}


.text-format{
    line-height: 2;
}


h1,h2,h3{
    font-family: "dinbusterregular",Helvetica,Arial,sans-serif;
    font-weight: bold;
}

h4,h5,h6{
    font-family: "dinbusterregular",Helvetica,Arial,sans-serif;
    font-weight: normal;
}

h1{
    font-size: 5.1em;
    padding: 0;
    margin: 0 0 25px 0;
}

h2{
    font-size: 18px;
    padding: 0;
    margin: 0 0 15px 0;
}

.s-11{
    font-size: 11px;
}

.content-block{
    border-top: dotted 5px #FFF;
    padding: 30px 0;
    margin-bottom: 50px;
}

.content-block.text{
    text-align: center;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    line-height: 2.5;
}


body {
    -webkit-font-smoothing: antialiased;
    font-family: "OpenSans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
}


.fixed-scroll.hide{
    display: none;
    transition: .4s linear;
}


.scroll-shrink.shrink h4{
    font-size: 23px;
    margin: 5px 0 0 0;
}


.location-search.remove-border{
    border-left: 0;
}


.header {
    position: fixed;
    width: 100%;
    z-index: 25;
    /*
    background: url("../images/bg.jpg") no-repeat center center;
    background-size: 100%;
    */
}

.container {
    padding-right: 0;
    padding-left: 0;
    position: relative;
}

.header-shadow-box{
    background-color: rgba(0, 0, 0, .7);
}

.container .logo{
    position: absolute;
    padding: 15px 0 10px 0
}

.top-tab{
    text-align: right;
    padding-top: 20px;
    padding-bottom: 20px;
}

.top-tab a{
    display: inline-block;
    text-transform: uppercase;
    margin: 0 12px;
    font-size: 1.07em;
    letter-spacing: 0.02px;
    font-family: 'DINNextRoundedLTPro-Regular';
}

.top-tab a:last-child{
    margin-right: 0;
}

.top-tab a:first-child{
    margin-left: 0;
}

ul.menu{
    padding:0  0 20px 0;
    text-align: right;
    margin-bottom: 0;
}

ul.menu li{
    display: inline-block;
    list-style: none;
}

ul.menu li a{
    padding:0  20px;
    font-size: 1.79em;
    font-family: 'dinbusterregular';
}

ul.menu > li:last-child a{
    padding-right: 0;
}

ul.menu > li:first-child a{
    padding-left: 0;
}

.header-info{
    background-color: #000;
    padding: 10px 0;
}

.notice{
    background-color: #dc0785;
    text-align: center;
    padding: 10px 0;
}

.notice h2{
    margin-bottom: 0;
}

.menu-logo-text h4{
    font-size: 30px;
}

.wrapper{
    position: relative;
}

.footer{
    padding: 40px 0;
    border-top: solid 3px #1e1e1e;
}


ul.list{
    padding: 0;
    margin: 0;
}

ul.list li{
    display: inline-block;
    list-style: none;
}

ul.list li a{
    display: block;
    padding: 0 8px;
    font-family: 'dinbusterregular';
    font-size: 1.15em;
}

ul.list li:first-child a{
    padding-left: 0;
}

ul.list li:last-child a{
    padding-right: 0;
}


.search .form-control{
    height: 28px;
    font-size: 12px;
    line-height: 3;
    padding: 0 8px;
    box-shadow: none;
    border: 0;
}

.search .btn{
    background-color: #00c0f3;
    color: #FFF;
    border: 0;
    box-shadow: none;
    height: 28px;
}


.search .form-control:focus, .search .btn:focus, .search .btn:hover,
.search input[type=button] {
    border:0;
    outline: 0px none;
    box-shadow: none;
}

.location-search{
    border-left:solid 1px rgba(225, 225, 225, .3);
}


.ico-styled i{
    font-size: 1.4em;
    color: #00c0f3;
    position: relative;
    top: 2.3px;
    margin-right: 4px;
}

.info-list{
    padding: 5px 0;
}

@media only screen and (max-width: 1024px) {
    /*
    .info-list{
        float: right;
        font-size: 12px;
    }

    .info-list .ico-styled i{
        font-size: 1.2em;
        margin-right: 3px;
        top: 1.2px;
    }

    .info-list .ico-styled{
        width: auto;
    }
    */

    .info-list, .header-info .contact{
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .fixed-scroll{
        display: none !important;
    }

    .info-list{
        float: right;
        font-size: 12px;
    }

    .info-list .ico-styled i{
        font-size: 1.2em;
        margin-right: 3px;
        top: 1.2px;
    }

    .info-list .ico-styled{
        width: auto;
    }
}

.icon-list i{
    font-size: 2.5em;
    margin-right: 7px;
}




.banner{
    width: 100%;
    margin-bottom: 25px;
    position: relative;
}

.banner .banner-content{
    position: absolute;
    bottom: 0;
    z-index: 2;
    padding: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.banner .banner-content h1{
    font-size: 100px;
    font-family: 'dinbusterregular';
    margin-bottom: 0;
}

.banner .banner-content h2{
    font-size: 50px;
    font-family: 'dinbusterregular';
    margin-top: 0;
}











